
/*maain intro */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-family: $font-1;
    

    figure {
        .profile-photo {
            width: 200px;
            border-radius: 10%;
        }
    }

    .profile-intro {
        .hello-intro {
            font-size: 19px;
            overflow: hidden;
            white-space: nowrap;
            animation: animateHelloIntro 3s ease-in;
        }

        .name-intro {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 33px;
        }

        .passion-intro {
            font-size: 19px; 
            
        }

        .characteristics-intro {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 25px;
        }
    }
}
    .profile-actions{
        
        .btn-contact{
            color: white;
            background-color: #44a083;
            border-radius: 50px;
            border: none;
            cursor: pointer;
            transition: all .3s ease;
            font-size:30px;
            text-decoration: none;
            padding:8px 20px;
            
            

            &:hover {
                background: #86c3fc;
            }

            &:active {
                transform: scale(1.5);
            }

            
        }
    }




/*about me*/
.about-section{
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
    
    figure {
        margin: 0;
        margin-right: 20px;
        margin-left:20px;

        .photo-about-me{
            width: auto; 
            height: 400px;
            border-radius: 10%; 
        }
    }
    
    .about-me{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        width: 70%;
        
        h2 {
            margin-top: 0;
            font-size: 45px;
        }
        p {
            text-align: justify; 
            font-size: 25px;
            
        }

        .btn-contact-1{
            color: white;
            background-color: #44a083;
            border-radius: 50px;
            border: none;
            cursor: pointer;
            transition: all .3s ease;
            font-size:30px;
            text-decoration: none;
            width: 200px;
            padding:8px 20px;
            display: flex;
            justify-content: center;
      
            &:hover {
                background: #86c3fc;
            }

            &:active {
                transform: scale(1.5);
            }
        }
    }

}

/*this is main studio */

.studio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    
  
    .photo-container {
      order: 2;
      width: 500px;
      
  
      .photo-about-studio {
        width: auto;
        height: 500px;
        border-radius: 10%;
      }
    }
  
    .studio-me {
      order: 1; 
      max-width: 70%; 
      margin-left: 20px;

        h2 {
        margin-top: 0;
        font-size: 45px;
       
      }
  
        p {
        text-align: justify;
        font-size: 25px;
        
      }
  
        .btn-contact-2{
        color: white;
        background-color: #44a083;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        transition: all .3s ease;
        font-size:30px;
        text-decoration: none;
        width: 200px;
        padding:8px 20px;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-left: 30%;
        
        

        &:hover {
            background: #86c3fc;
        }

        &:active {
            transform: scale(1.5);
        }
      }
    }
}


/* main cards*/
h2{
    display:flex;
    justify-content: center;
    font-size: 30px;
}
.card-container{
    display: flex;
    justify-content: space-around;
    margin: 30px 200px 30px 200px;
    
    .card{
        
        .card-content{
            background-color:#c3f2e3;
            border: 2px solid black;
            width:300px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            font-family: $font-1;
            
            h3{
                font-size: 25px;
            }

            .img-cards {
                height: auto;
                width: 150px;
                margin-top:20px;
                
            }
            p{
                font-size: 18px;
                display: flex;
                align-items: center;
                margin-right: 20px;
                margin-left: 20px;

            }
            .btn-contact-3{
                color: white;
                background-color: #44a083;
                border-radius: 50px;
                border: none;
                cursor: pointer;
                transition: all .3s ease;
                font-size:25px;
                text-decoration: none;
                width: 150px;
                padding:8px 20px;
                display: flex;
                justify-content: center;
                margin-top: 20px;
                
                
                
        
                &:hover {
                    background: #86c3fc;
                }
        
                &:active {
                    transform: scale(1.5);
                }
              }
        }
    }
}

/*recensioni  */



.reviews-container {
    width: 100%;
    overflow: hidden;
    background: #c3f2e3;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    

    .reviews {
        display: flex;
        white-space: nowrap;
        animation: scroll-reviews 60s linear infinite;

        .review {
            display: inline-block;
            padding: 0 30px;
            text-align: center;
            white-space: normal;
            .reviews-container {
                width: 100%;
                overflow: hidden;
                background: #c3f2e3;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                margin-bottom: 20px;

            .stars {
                color: gold;
                font-size: 24px;
                margin-top: 5px;
            }

            .reviewer {
                margin-top: 10px;
                font-style: italic;
            }
        }
    }
}
}


@keyframes scroll-reviews {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}



/*maain intro @framases */
@keyframes animateHelloIntro
{
    0%{
        width: 0;
    }
    70%{
        width: 100%;
    }
}

/*maain intro */
@media (max-width: 620px) {
    .profile-intro{
        .hello-intro{
            font-size: 10px !important;
        }
        .name-intro{
            font-size: 20px !important;
        }
        .passion-intro{
            font-size: 10px !important;
        }
        .characteristics-intro{
            font-size: 12px !important;
        }
    }
}
.profile-actions{
        
    .btn-contact{
        font-size:20px;
    }
}

section {
    

    figure {
        .profile-photo {
            width: 150px;
            border-radius: 10%;
        }
    }
}

/*main about me  */
@media (max-width: 620px) {
    .about-section{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        figure {
            order: 2;
            margin: 20px 0 0 0;
            text-align: center;
            .photo-about-me{
                height: 250px;  
            }
          }
      
        .about-me {
            order: 1; 
            text-align: center;
            
            p {
                text-align: center; 
                margin-left: 0; 
                margin-right: 0; 
                padding: 0;
                font-size: 15px;
                
            }
            h2{
                font-size: 30px
            }
            
            .btn-contact-1 {
                margin-top: 20px !important;
                margin: 0 auto; 
                font-size: 20px;
                width: 120px;

            }
        }
    }
}

@media (max-width: 1000px) {
    .about-section{
       
        figure {
            
            .photo-about-me{
                height: 250px;  
            }
          }
          .about-me {
           
            p {
                width: 90%;
            }
          }
    }
}

/*main studio  */
@media (max-width: 620px) {
    .studio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        .photo-container {
            margin-left: 0;
            margin-top: 20px; 
            text-align: center;
            margin-right:0;
            .photo-about-studio {
                height: 250px;
            }
        }

        .studio-me {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin:0;
            
            .btn-contact-2 {
                margin: 0px;
                font-size: 20px;
                width: 120px;
                margin-left:0 !important;
                
            }

            h2{
                font-size: 30px;
            }
            p{
                text-align: center;
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .studio {
        .photo-container {
            .photo-about-studio {
                height: 300px;
            }
        }
        .studio-me {
            p{
                width: 90%;
            }
        }  
    }

}

   


/*maain cards  */

@media (max-width: 1500px) {
    .card-container{
        margin: 30px 100px 30px 100px;
    }
}
@media (max-width: 1200px) {
    .card-container{
        margin: 30px 10px 30px 10px;
        .card{
            
            .card-content{
                width:250px;
                height: 350px;
                
            }
                .img-cards{
                    width: 100px !important;
                    height: auto;
                    margin-top:20px;
                }

                h3{
                    font-size: 22px !important;
                }

                p{
                    font-size: 18px !important;
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    margin-left: 20px;
    
                }

                .btn-contact-3{
                    width: 120px !important;
                    font-size: 25x !important;
                    margin-top: 30px !important;
                }
            }
    }
}
@media (max-width: 992px) {
    .card-container{
        margin: 0 !important;
        .card{
            
            .card-content{
                width:170px;
                height: 300px;
                
            }
                .img-cards{
                    width: 70px !important;
                    height: auto;
                    margin-top:10px;
                }

                h3{
                    font-size: 18px !important;
                }

                p{
                    font-size: 14px !important;
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    margin-left: 20px;
    
                }

                .btn-contact-3{
                    width: 75px !important;
                    font-size: 20px !important;
                    margin-top: 30px !important;
                }
            }
    }
}

@media (max-width: 580px) {
    .card-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
        margin: 0 0 20px 0 !important;
        .card{
            
            .card-content{
                width:200px;
                height: auto;
                
            }
                .img-cards{
                    height: auto;
                    width: 100px !important;
                    margin-top:20px;
                    
                    
                }

                h3{
                    font-size: 18px !important;
                }

                p{
                    font-size: 14px !important;
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    margin-left: 20px;
    
                }

                .btn-contact-3{
                    width: 120px !important;
                    font-size: 20px !important;
                    margin-top: 30px !important;
                    margin-bottom: 20px;
                }
            }
    }
}






