header {
    position: relative;
  
    .navbar {
      background-color: $second-color;
      height: 80px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: white;
      position: fixed;
      top: 0;
      width: 100%;
      font-family: $font-1;
      z-index: 100;
  
      .links {
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin-right: 50px;
        font-size: 20px;
        cursor: pointer;
  
        li:hover {
          color: blue;
        }
  
        .links1 {
          text-decoration: none;
          color: white;
        }
      }
  
      .name {
        margin-right: auto;
        font-size: 20px;
        font-weight: bold;
      }
  
      .logo {
        width: 150px;
      }
  
      .button-contact {
        color: white;
        background-color: #BAD7F2;
        width: 100px;
        height: 50px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        transition: all .3s ease;
        margin-right: 50px;
  
        &:hover {
          background: #86c3fc;
        }
  
        &:active {
          transform: scale(1.5);
        }
  
        .button-contact-script {
          color: white;
          text-decoration: none;
          font-size: 20px;
        }
      }
  
      .toggle_btn {
        display: none;
      }
    }
  
    @media (max-width: 992px) {
      .navbar {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
  
        .links {
          display: none !important;
        }
        .button-contact {
          display: none;
        }
        .toggle_btn {
          display: none;
        }
        .logo {
          margin-top: -35px;
        }
      }
  
      .dropdown_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        background-color: $second-color;
        position: relative;
        top: 80px;
        height: 220px;
        width: 100%;
        color: white;
        font-family: $font-1;
        cursor: pointer;
  
        ul {
          list-style: none;
        }
  
        .links_dropdown {
          display: flex;
          align-items: center;
          justify-content: center;
          list-style: none;
          border-radius: 20px;
          padding: 8px;
          text-decoration: none;
          color: white;
  
          &:hover {
            background: #86c3fc;
          }
        }
  
        .dropdown-button-contact {
          color: white;
          background-color: #BAD7F2;
          width: 100px;
          height: 50px;
          border-radius: 50px;
          border: none;
          cursor: pointer;
          transition: all .3s ease;
  
          &:hover {
            background: #86c3fc;
          }
  
          &:active {
            transform: scale(1.5);
          }
  
          .button-dropdown-contact-script {
            color: white;
            text-decoration: none;
            font-size: 20px;
            cursor: pointer;
          }
        }
      }
    }
  
    @media (min-width: 992px) {
      .dropdown_menu {
        display: none !important;
      }
    }
  
    @media screen and (max-width: 480px) {
      .navbar {
        flex-direction: column;
        align-content: center;
        align-items: center;
  
        .links {
          display: none !important;
        }
        .button-contact {
          display: none;
        }
        .toggle_btn {
          display: none;
        }
        .logo {
          width: 100px !important;
          margin-top: 0 !important;
        }
        .name {
          display: none;
        }
      }
  
      .dropdown_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        background-color: $second-color;
        position: relative;
        top: 80px;
        height: 220px;
        width: 100%;
        color: white;
        font-family: $font-1;
        cursor: pointer;
  
        ul {
          list-style: none;
        }
  
        .links_dropdown {
          display: flex;
          align-items: center;
          justify-content: center;
          list-style: none;
          border-radius: 20px;
          padding: 8px;
  
          &:hover {
            background: #86c3fc;
          }
        }
  
        .dropdown-button-contact {
          color: white;
          background-color: #BAD7F2;
          width: 100px;
          height: 50px;
          border-radius: 50px;
          border: none;
          cursor: pointer;
          transition: all .3s ease;
  
          &:hover {
            background: #86c3fc;
          }
  
          &:active {
            transform: scale(1.5);
          }
  
          .button-dropdown-contact-script {
            color: white;
            text-decoration: none;
            font-size: 20px;
            cursor: pointer;
          }
        }
      }
    }
  
    ul {
      padding-left: 0;
    }
  }
  