$first-color: #B7CECE;
$second-color:#6E7E85;
$third-color:#BBBAC6;
$font-1: Arial, Helvetica, sans-serif;

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    
    
}

main{
    background-color: $first-color;
    margin-top: -20px;
    
    
}

