.profile-cv{
    figure{
        .cv-foto{
            width: auto;
            height: 200px;
            border-radius: 10%;
        }
    }
}




.level {
    width: 100%;
    max-width: 500px;
    margin: 20px auto; 
    text-align: center; 

    .progress-bar {
        background-color: #ddd; 
        height: 10px; 
        border-radius: 10px; 
        overflow: hidden; 
        

        .progress {
            background-color: #06fcae; 
            height: 100%; 
            width: 0; 
            transition: width 0.5s ease-in-out; 
        }
    }

    .progress-label {
        margin-top: 5px; 
        font-size: 100px; 
        font-weight: bold; 
        color: dark; 
    }
}




.education-section {
    max-width: 500px;
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;

    
    

    .title{
        display: flex;
        flex-direction: column;
        
        margin-right: 20px;
        margin-left: 20px;
        
    }

    .education-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 20px;
        position: relative;
        
    .description{
        
        display:flex;
        flex-direction: column;
        text-align: left;
        width: 90%;
    }

        .education-year {
            font-size: 18px;
            font-weight: bold;
            margin-right: 10px;
            align-self: center;
           
            
        }

        .education-line {
            width: 2px;
            height: 100%;
            
            margin: 0 10px;
        }

        .education-details {
            margin-left: 10px;
            display:flex;
            flex-direction: column;
            text-align: left;

            .education-title {
                margin-bottom: 5px;
            }

            .education-thesis {
                font-style: italic;
                color: #666;
            }
            .relatore-thesis{
                font-weight: bold;
                font-style: italic;
                
            }
        }
    
    }
}



